<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/auth.css">
  <script src="app.js"></script>
</head>

<body>

  <main>
    <header class="header">
      <img src="icons/logo.svg" alt="logo">
      <h1>Personal ToDo List</h1>
    </header>

    <div class="tabs">
      <div class="tab-labels">
        <label>Sign in
          <input type="radio" name="tab" value="sign" checked hidden>
        </label>
        <label>Register
          <input type="radio" name="tab" value="reg" hidden>
        </label>
      </div>

      <div class="tab-content">
        <form id="sign" action="javascript:">
          <label>
            <p>Login (e-mail)</p>
            <input type="text" placeholder="your login here...">
          </label>
          <label>
            <p>Password</p>
            <input type="text" placeholder="your password here...">
          </label>
          <button>Sign In</button>
        </form>
        <form id="reg" action="javascript:">
          <label>
            <p>Login (e-mail)</p>
            <input type="text" placeholder="your login here...">
          </label>
          <label>
            <p>Password</p>
            <input type="text" placeholder="your password here...">
          </label>
          <label>
            <p>Re-enter password</p>
            <input type="text" placeholder="your password here...">
            <button>Register</button>
          </label>
        </form>
      </div>
    </div>

  </main>
</body>

</html>